@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  scroll-behavior: smooth;
  scroll-padding: 90px;
}

#root {
  display: flex;
  flex-direction: column;
}

@theme {
  --color-branco-fundo: #E1E1E1;
  --color-vermelho-primario: #8D3B27;
  --color-beje-secundario: #D3A07D;
  --color-branco-letra: #EBEBEB;

  --font-titulo: "Inter", sans-serif;
  --font-corpo: "Roboto", sans-serif;
}