@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* REGISTRO DAS SUAS CORES NO TAILWIND V4 */
@theme inline {
  --color-branco-fundo: #E1E1E1;
  --color-vermelho-primario: #8D3B27;
  --color-beje-secundario: #D3A07D;
  --color-branco-letra: #EBEBEB;

  --font-titulo: "Inter", sans-serif;
  --font-corpo: "Roboto", sans-serif;

  /* Mantidas as variáveis do seu Shadcn/UI se estiver usando */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --border: oklch(0.922 0 0);
}

/* RESET GLOBAL LIMPO (Sem forçar azul nos links nem flex no body) */
html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
}

/* Removidas as regras 'a { color: #646cff }' e 'body { place-items: center }' */